/Practicas2/Practicas2/nbproject/private/
/Practicas2/Practicas2/build/
/Practicas2/JavaApplication59/nbproject/private/
/Practicas2/JavaApplication60/nbproject/private/
/JavaApplication61/nbproject/private/
/Martes0822/nbproject/private/
/Martes0822/build/
/Jueves31Del8/build/